/* @@Start(imports) */
@import "https://jsdev.arcgis.com/4.31/@arcgis/core/assets/esri/themes/light/main.css";
@import "https://jsdev.arcgis.com/calcite-components/2.11.0/calcite.css";
/* @@End(imports) @@Start(styles) */
html,
body,
arcgis-map {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
/* @@End(styles) */
